---
import Layout from '../layouts/Layout.astro';
import '../styles/test.scss';
---

<Layout title="Welcome to Astro.">
	<main>
		<a href="https://google.com" class="sampleButton">minne</a>
		<p class="sampleText">Hello world!</p>
	</main>
</Layout>
