---
import Layout from '../layouts/Layout.astro';
import '../styles/test.scss';
---

<Layout title="Welcome to Astro.">
	<main>
		<a href="https://google.com" class="sample-button">Google</a>
	</main>
</Layout>
